n8n_schemas/OnVisit.json
{
  "name": "OnVisit",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        260,
        400
      ],
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "a21d6bad-37d9-42d8-aad2-1345678123",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "webhookId": "a21d6bad-37d9-42d8-aad2-83941d77c24a",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "Secret Header"
      },
      "notes": "Evilginx2 lure visitors"
    },
    {
      "parameters": {
        "channelId": "1533asrac3bupkt5ezx39spncc",
        "message": "=## We caught a lure visitor :eyes: \n\n| Data | Value |\n| ----------- | ------------------------------------------- |\n| id | {{$json[\"body\"][\"Session\"][\"id\"]}} |\n| phishlet | {{$json[\"body\"][\"Session\"][\"phishlet\"]}} |\n| landing_url | {{$json[\"body\"][\"Session\"][\"landing_url\"]}} |\n| remote_addr | {{$json[\"body\"][\"Session\"][\"remote_addr\"]}} |\n| user_agent | {{$json[\"body\"][\"Session\"][\"useragent\"]}} |\n| create_time | {{$json[\"body\"][\"Session\"][\"create_time\"]}} |\n| update_time | {{$json[\"body\"][\"Session\"][\"update_time\"]}} |",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "notesInFlow": true,
      "credentials": {
        "mattermostApi": "Sir Phishelot"
      },
      "notes": "Push msg phish channel"
    },
    {
      "parameters": {
        "functionCode": "items[0].json.body.Session.create_time = new Date(items[0].json.body.Session.create_time * 1000);\nitems[0].json.body.Session.update_time = new Date(items[0].json.body.Session.update_time * 1000);\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "7"
}
